@typeparam TItem where TItem : notnull

<div @attributes="Attributes"
     id="@Id"
     class="@Class"
     style="@Style">
    @if (Items is not null && ChildContent is not null)
    {
        @foreach (var item in Items)
        {
            <div @key="@(KeySelector?.Invoke(item) ?? item)"
                 class="@(DraggableSelector?.Invoke(item) == true ? DraggableClass : null)">
                @ChildContent(item)
            </div>
        }
    }
</div>
